nodered/ncd-filter-node.json
[{"id":"4b59780f285a3039","type":"subflow","name":"ncd-filter","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"65054e421db47958"}]}],"out":[{"x":1400,"y":240,"wires":[{"id":"7e28b174a07a3365","port":0}]}],"env":[{"name":"mode","type":"str","value":"sensor_data","ui":{"label":{"en-US":"Mode"},"type":"select","opts":{"opts":[{"l":{"en-US":"All messages (Sensors and Modem/Gateway)"},"v":"all_menssages"},{"l":{"en-US":"Only messages from Gateway/Modem"},"v":"modem_mac"},{"l":{"en-US":"Only messages from sensors"},"v":"all_sensors"},{"l":{"en-US":"Only sensor mode messages"},"v":"sensor_mode"},{"l":{"en-US":"Only sensor data messages"},"v":"sensor_data"},{"l":{"en-US":"Only the values of sensor variables"},"v":"variables"}]}}},{"name":"type","type":"num","value":"","ui":{"label":{"en-US":"Sensor Type"},"type":"input","opts":{"types":["num"]}}},{"name":"address","type":"str","value":"","ui":{"icon":"font-awesome/fa-random","label":{"en-US":"Mac Address"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#A6BBCF","icon":"font-awesome/fa-filter"},{"id":"6f6d43d192c6b198","type":"switch","z":"4b59780f285a3039","name":"ncd-mode","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mode","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":240,"wires":[["5d0f882babd41b21"]]},{"id":"65054e421db47958","type":"change","z":"4b59780f285a3039","name":"ncd-env-var","rules":[{"t":"set","p":"mode","pt":"msg","to":"mode","tot":"env"},{"t":"set","p":"type","pt":"msg","to":"type","tot":"env"},{"t":"set","p":"type","pt":"msg","to":"$number(type)","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"address","tot":"env"},{"t":"set","p":"sensorData","pt":"msg","to":"sensorData","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":280,"wires":[["6f6d43d192c6b198","57f19c47aebbae09","144812c8cf52835a","4f8c1082f6428b6e"]]},{"id":"8449a41d2804ad64","type":"switch","z":"4b59780f285a3039","name":"","property":"payload.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"type","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":200,"wires":[["ed91741ff76f89fb","accb736ec0447f06"]]},{"id":"5c44669b4dd7a690","type":"switch","z":"4b59780f285a3039","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"type","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":240,"wires":[["920609f42c9f0e03","accb736ec0447f06"]]},{"id":"ed91741ff76f89fb","type":"switch","z":"4b59780f285a3039","name":"","property":"payload.addr","propertyType":"msg","rules":[{"t":"eq","v":"address","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":220,"wires":[["7e28b174a07a3365"]]},{"id":"920609f42c9f0e03","type":"switch","z":"4b59780f285a3039","name":"","property":"payload.mac","propertyType":"msg","rules":[{"t":"eq","v":"address","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":260,"wires":[["7e28b174a07a3365"]]},{"id":"e04cc628bc639e44","type":"switch","z":"4b59780f285a3039","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":280,"wires":[["ed91741ff76f89fb","920609f42c9f0e03","accb736ec0447f06"]]},{"id":"accb736ec0447f06","type":"switch","z":"4b59780f285a3039","name":"","property":"address","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":300,"wires":[["7e28b174a07a3365"]]},{"id":"57f19c47aebbae09","type":"switch","z":"4b59780f285a3039","name":"ncd-all-from-sensors","property":"mode","propertyType":"msg","rules":[{"t":"eq","v":"all_sensors","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":300,"wires":[["32478c5ad8affe96"]]},{"id":"32478c5ad8affe96","type":"switch","z":"4b59780f285a3039","name":"ncd-data-mode","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensor_data","vt":"str"},{"t":"eq","v":"sensor_mode","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":300,"wires":[["426b8c8e49e3c051"],["426b8c8e49e3c051"]]},{"id":"4f8c1082f6428b6e","type":"switch","z":"4b59780f285a3039","name":"","property":"mode","propertyType":"msg","rules":[{"t":"eq","v":"variables","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":180,"wires":[["14e4226f977e9e20"]]},{"id":"162d415f6b8ab21e","type":"change","z":"4b59780f285a3039","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":180,"wires":[["7e28b174a07a3365"]]},{"id":"144812c8cf52835a","type":"switch","z":"4b59780f285a3039","name":"ncd-all-messages","property":"mode","propertyType":"msg","rules":[{"t":"eq","v":"all_menssages","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":360,"wires":[["5c32ea6603577170"]]},{"id":"7e28b174a07a3365","type":"change","z":"4b59780f285a3039","name":"","rules":[{"t":"delete","p":"mode","pt":"msg"},{"t":"delete","p":"type","pt":"msg"},{"t":"delete","p":"address","pt":"msg"},{"t":"delete","p":"sensorData","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":240,"wires":[[]]},{"id":"14e4226f977e9e20","type":"switch","z":"4b59780f285a3039","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensor_data","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":180,"wires":[["162d415f6b8ab21e"]]},{"id":"5d0f882babd41b21","type":"switch","z":"4b59780f285a3039","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"modem_mac","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":240,"wires":[["7e28b174a07a3365"],["a3eacb5ba1462519"]]},{"id":"a3eacb5ba1462519","type":"junction","z":"4b59780f285a3039","x":760,"y":240,"wires":[["8449a41d2804ad64","5c44669b4dd7a690","e04cc628bc639e44"]]},{"id":"426b8c8e49e3c051","type":"junction","z":"4b59780f285a3039","x":760,"y":300,"wires":[["a3eacb5ba1462519"]]},{"id":"5c32ea6603577170","type":"junction","z":"4b59780f285a3039","x":780,"y":360,"wires":[["8449a41d2804ad64","5c44669b4dd7a690","e04cc628bc639e44"]]},{"id":"bf8d9a5ec80d04cf","type":"subflow:4b59780f285a3039","z":"eb6539302d516693","name":"","env":[{"name":"address","value":"00:13:a2:00:40:a1:52:97","type":"str"}],"x":900,"y":420,"wires":[[]]}]
